*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-h {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    display: inline;
    text-decoration: none;
    margin-top: 60px;
}

#menu-h li{
    display: inline;
}

#menu-h li a{
    color: #FFF;
    padding: 5px;
    display: inline;
}

.bg {
    background-color: #13172B;
}

#bordas-top {
    margin-top:10%;
}

#bordas-top-2 {
    margin-top: 10px;
}

#bordas-top-3 {
    margin-top: 100px;
    margin-bottom: 3%;
}

#bordas-top-4 {
    margin-top: 70px;
}

#bordas-top-5 {
    margin-top: 50px;
    color: #FFF;
}

#bordas-top-6 {
    margin-top: 70px;
    margin-right: 27%;
}

#bordas-tab-esq {
    margin-top: 30px;
    margin-left: 18.6%;
}

#bordas-tab-esq-1 {
    margin-top: 50px;
    margin-left: 1%;
}


#bordas-img-esq {
    margin-right: 42%;
}

#bordas-img-esq-2 {
    margin-right: 42%;
    margin-top: 50px;
    
}

#bordas-dir {
    margin-right: 20%;
}

#bordas-bot {
    margin-bottom: 50px;
}

#txt-comentario {
    margin-left: 18.5%;
}

#text-color-1 {
    color:#C99D5E;
    text-align: center;
    font-size: 150%;
}

#text-color-2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 100%;
}

#text-color-3 {
    color: rgb(223, 53, 53);
    text-align: center;
    font-size: 80%;
}

#text-color-4 {
    color: #FFF;
    margin-top: 30px;
    margin-left: 18.6%;
}

#text-color-5 {
    color: #FFF;
    margin-top: 5px;
    margin-left: 18.6%;
}

#text-color-6 {
    color: #CBD1D3;
}

#text-color-7 {
    color:#C99D5E;
    margin-bottom: 50px;
}

#text-color-8 {
    color: rgb(223, 194, 194);
    margin-bottom: 50px;
}

#text-color-9 {
    color: #C99D5E;
    font-size: 200%;
    margin-bottom: 10px;
}

#text-color-10 {
    color: #C99D5E;
    font-size: 200%;
    margin-top: 80px;
    margin-bottom: 10px;
}

#text-color-11 {
    color: #FFF;
}

#text-color-12 {
    color: rgb(223, 194, 194);
    margin-top: 30PX;
}

#text-color-13 {
    color:#C99D5E;
    margin-top: 50PX;
    font-size: 170%;
    margin-bottom: 10px;
}

#text-color-14 {
    color:#C99D5E;
    font-size: 125%;
    margin-bottom: 10px;
    margin-top: 50px;
}

#text-color-15 {
    color: rgb(190, 204, 0);
}

#text-color-16 {
    color:red
}

#text-color-17 {
    color:#C99D5E;
    margin-bottom: 50px;
    margin-top: 90px;
}

#bordas-color-18 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #FFF;
    font-size: 120%;
}

#text-color-19 {
    color: #FFF;
    margin-top: 30px;
    margin-bottom: 10px;
}